{% extends 'base.html.twig' %}

{% block title %}Beatmaker{% endblock %}

{% block body %}
    <h1>Beatmaker</h1>
    {% if beatmakers is not null and beatmakers|length > 0 %}
    <div class="row d-flex flex-wrap">
        {% for beatmaker in beatmakers %}

        <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center flex-column lien size p-1">
            <a href="{{path('userView', {id: beatmaker.id})}}" class="mt-2 fw-bold"><img src="{{asset('uploads/images/' ~ beatmaker.imageName)}}" alt="" class="img-profil mt-2"></a>
            <a href="{{path('userView', {id: beatmaker.id})}}" class="mt-2 fw-bold">
                {% set hasPseudo = false %}
				{% if beatmaker.pseudo is not null %}
					{{ beatmaker.pseudo|capitalize }}
					{% set hasPseudo = true %}
				{% else %}
					{{ beatmaker.prenom|title }}
				{% endif %}</a>
            <a href="{{path('app_user_beats_index_view', {id: beatmaker.id})}}" class="mt-2 text-center fw-bold">Beats en ventes : {{beats[beatmaker.id]|length}}</a>
        </div>
    
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
