{% extends 'base.html.twig' %}

{% block title %}Beats{% endblock %}

{% block body %}
    <div class="lien">
        {% if app.user and app.user == user %}   
            <a href="{{path('user')}}"><i class="fa-solid fa-backward mb-3 mt-2"></i></a>
        {% else %}
            <a href="{{path('userView', {id: user.id })}}"><i class="fa-solid fa-backward mb-3 mt-2"></i></a>
        {% endif %}
    </div>
    <h1 class="text-center mt-2">Beats</h1>
    <div class="d-flex justify-content-center">
        {% if app.user and app.user == user %}   
            <button class="btn-style p-2 lien mt-3 mb-3 fw-bold"><a href="{{ path('app_user_beats_new') }}">Ajouter un Beat</a></button>
        {% endif %}   
    </div>
    {% if beats is not null and beats|length > 0 %}
		{% for beat in beats %}
			<div class="d-flex flex-wrap align-items-center">
				<div class="col-12 col-lg-6">
					<div class="audio-container">
						<div class="audio-info btn-style">
							<h4 id="title">{{beat.name}}</h4>
							{# <div class="progress-container">
								<div class="progress"></div>
							</div> #}
						</div>
						<audio src="{{asset('uploads/beats/' ~ beat.beatName)}}" class="song" data-playing="false"></audio>
						<div class="img-container">
							<a href="{{path('instrumental-info', {id: beat.id})}}"><img src="{{asset('uploads/images/' ~ beat.imageName)}}" alt="music-cover" class="img-cover"></a>
						</div>
						<div class="navigation">
							<button class="action-btn">
								<i class="fas fa-backward"></i>
							</button>
							<button class="action-btn action-btn-big bt-play">
								<i class="fas fa-play"></i>
							</button>
						</div>
					</div>
					<div class="d-flex justify-content-around mb-3 align-items-center info-perso">
						<h3 class="me-3">{{beat.price ~ '€'}}</h3>
                        {% if app.user and app.user != user %}
                            <a href="{{path('userView', {id: beat.user.id})}}"><img src="{{asset('images/artiste2.ico')}}" alt="prod by {{beat.user}}" class="img-basket"></a>
                            {% if beat in panier.beats %}
                                <p class="text-center">Déja dans le panier</p>
                            {% else %}
                                <img src="{{asset('images/shopping-basket.png')}}" alt="Ajouter au panier" class="cart img-basket ms-5" data-id="{{beat.id}}">
                            {% endif %}
                        {% else %}
                        <a href="{{path('userView', {id: beat.user.id})}}"><img src="{{asset('images/artiste2.ico')}}" alt="prod by {{beat.user}}" class="img-basket"></a>
                        <img src="{{asset('images/shopping-basket.png')}}" alt="Ajouter au panier" class="cart img-basket ms-5" data-id="{{beat.id}}">
                        {% endif %}
					</div>
				</div>
                <div class="col-12 col-lg-6 mt-2">
					<div class="description ms-3 mb-3">
						<p class="text-center">{{beat.description}}</p>
					</div>
				</div>
				</div>
                <div class="d-flex justify-content-center">
                    {% if app.user and app.user == user %}   
                        <button class="btn-style p-2 lien fw-bold"><a href="{{ path('app_user_beats_show', {'id': beat.id}) }}">Info du Beat</a></button>
                        <button class="btn-style p-2 lien fw-bold"><a href="{{ path('app_user_beats_edit', {'id': beat.id}) }}">Modifier</a></button>
                    {% endif %}   
                </div>
		{% endfor %}
    {% else %}
        <div>
            <p class="text-center fw-bold mt-4">Vous n'avez pas encore de Beats en vente</p>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
<script>
var currentPlayer = null;

$(".bt-play").on("click", function(){
    var player = $(this).parent().parent().find(".song");
    var play = $(this).parent().parent();

    if($(player).attr("data-playing")=="false"){
        //console.log(currentPlayer);
        //if($(player)!= $(currentPlayer)){
            $(".song").each(function(){
                $(this).trigger("pause");
                $(this).attr("data-playing", "false");
                $(this)[0].currentTime = 0;
            });
        //}
        
        $(play).addClass("play");
        $(this).find("i").removeClass('fa-play');
        $(this).find("i").addClass('fa-pause');
        currentPlayer = $(player);
        $(player).attr("data-playing", "true");
        $(player).trigger("play");
    }else{
        $(player).attr("data-playing", "false");
        $(player).trigger("pause");
        $(play).removeClass("play");
        $(this).find("i").addClass('fa-play');
        $(this).find("i").removeClass('fa-pause');
    }
});
{# function updateProgress(e){
    var {duration, currentTime} = event.target;
    var progressPercent = (currentTime / duration) * 100;
    progress.style.width = `${progressPercent}%` ;
} #}
var basket = $('.cart');
basket.each(function(){
    $(this).click(function() {
    var dataId = $(this).attr('data-id');
        $.ajax({
                type: "POST",
                dataType:"json",
                url: "{{ path('ajoutPanier') }}" ,
                data: {"id":dataId},
                
        }).done(function(response){
            console.log(response)
        $("img").each(function(){
            if($(this).data("id")==response){
                console.log(response);
                $(this).addClass("d-none");
                }
            });
        });
    });
});
</script>
{% endblock %}