{% extends 'base.html.twig' %}

{% block title %}{{ beat.name }}{% endblock %}

{% block body %}

    <button class="btn-style p-2 mb-3 mt-3 lien"><a href="{{ path('app_user_beats_index') }}">Retour à la liste</a></button>

    <h1>{{ beat.name }}</h1>

    <div class="d-flex flex-wrap align-items-center">
				<div class="col-12 col-lg-6">
					<div class="audio-container">
						<div class="audio-info btn-style">
							<h4 id="title">{{beat.beatName}}</h4>
							<div class="progress-container">
								<div class="progress"></div>
							</div>
						</div>
						<audio src="{{asset('beats/' ~ beat.beatName)}}" class="song" data-playing="false"></audio>
						<div class="img-container">
							<img src="{{asset('images/' ~ beat.imageName)}}" alt="music-cover" class="img-cover">
						</div>
						<div class="navigation">
							<button class="action-btn">
								<i class="fas fa-backward"></i>
							</button>
							<button class="action-btn action-btn-big bt-play">
								<i class="fas fa-play"></i>
							</button>
						</div>
					</div>

					<div class="d-flex justify-content-center mb-3 align-items-center info-perso">
						<h3 class="me-3">{{beat.price ~ '€'}}</h3>
						<img src="{{asset('images/shopping-basket.png')}}" alt="" class="img-basket ms-3">
					</div>
				</div>
                <div class="col-12 col-lg-6 mt-2">
					<div class="description ms-3 mb-3">
						<p class="text-center">{{beat.description}}</p>
					</div>
				</div>
				</div>

    
    <div class="d-flex justify-content-between">
        <button class="btn-style p-2 lien mb-3"><a href="{{ path('app_user_beats_edit', {'id': beat.id}) }}">Modifier</a></button>

        {{ include('list_beats/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
<script>
var currentPlayer = null;

$(".bt-play").on("click", function(){
    var player = $(this).parent().parent().find(".song");
    var play = $(this).parent().parent();

    if($(player).attr("data-playing")=="false"){
        //console.log(currentPlayer);
        //if($(player)!= $(currentPlayer)){
            $(".song").each(function(){
                $(this).trigger("pause");
                $(this).attr("data-playing", "false");
                $(this)[0].currentTime = 0;
            });
        //}
        
        $(play).addClass("play");
        $(this).find("i").removeClass('fa-play');
        $(this).find("i").addClass('fa-pause');
        currentPlayer = $(player);
        $(player).attr("data-playing", "true");
        $(player).trigger("play");
    }else{
        $(player).attr("data-playing", "false");
        $(player).trigger("pause");
        $(play).removeClass("play");
        $(this).find("i").addClass('fa-play');
        $(this).find("i").removeClass('fa-pause');
    }
});
{# function updateProgress(e){
    var {duration, currentTime} = event.target;
    var progressPercent = (currentTime / duration) * 100;
    progress.style.width = `${progressPercent}%` ;
} #}
var basket = $('.cart');
basket.each(function(){
    $(this).click(function() {
    var dataId = $(this).attr('data-id');
        $.ajax({
                type: "POST",
                dataType:"json",
                url: "{{ path('ajoutPanier') }}" ,
                data: {"id":dataId},
                
        }).done(function(response){
            console.log(response)
        $("img").each(function(){
            if($(this).data("id")==response){
                console.log(response);
                $(this).addClass("d-none");
                }
            });
        });
    });
});
</script>
{% endblock %}